/* https://coolors.co/26547c-ef476f-ffd166-06d6a0-fcfcfc */

* {

}

html {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0px;
}

.container {
    display: flex;
    align-items: center;
    flex: auto;
}

button {
    flex: none;
    border-radius: 40%;
    border: none;
    height: 7em;
    width: 7em;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-size: 2em;
    background-color: #FFF;
    transition: all 0.2s ease 0s;
 
}

button:hover {
    background-color: #ffd166;
    box-shadow: 0px 15px 20px #fabd62;
    color:#FFF;
    transform: translateY(-9px);

}

button:active {
    transforM: translateY(-1px);
}

.title-container {
    justify-content: center;
    padding: 32px 16px;
    background-color: #26547C;
    color: #FCFCFC;
    word-spacing: 5px;
    font-size: 24px;
}

.button-container {
    justify-content: space-evenly;
    background-color: #EBEBEB;
    padding: 10em;
    gap: 2em;

}

.message-container {
    flex-flow: column wrap;
    padding: 2em;
    justify-content: center;

}

.result-container {
    margin: 2em 1em;
}

.score-container {
}

.player-score,
.computer-score {
    display: flex;
    justify-content: space-between;
    margin: 2em;
    padding: 2em;
}

.game-end {
    margin-top: 2em;
    padding: 2em;
}