/* https://coolors.co/26547c-ef476f-ffd166-06d6a0-fcfcfc */

html {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0px;
}

.container {
    display: flex;
}

.game-button {
    border-radius: 40%;
    border: none;
    height: 7em;
    width: 7em;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-size: 2em;
    background-color: #FFF;
    transition: all 0.2s ease 0s;
 
}

.game-button:hover {
    background-color: #ffd166;
    box-shadow: 0px 15px 20px #fabd62;
    color:#FFF;
    transform: translateY(-9px);

}

.restart-button {
    display:none;
    font-size: 16px;
    border-radius: 45px;
    border: none;
    height: 3em;
    width: 8em;
    color: #000;
    background-color: #FFF;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease 0s;
}

.restart-button:hover {
    background-color:#06D6A0;
    box-shadow: 0px 15px 20px #2ee59d66;
    color: #FFF;
    transform: translateY(-7px);

}

.game-button:active,
.restart-button:active {
    transform: translateY(-1px);
}

.title-container {
    justify-content: center;
    padding: 15px;
    background-color: #5393CA;
    color: #FCFCFC;
    word-spacing: 5px;
    font-size: 24px;
}

.game-container {
    padding: 1.25em;
    flex-flow: column wrap;
    justify-content: center;
    background-color: #EBEBEB;
}

.button-container {
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 5em 0;
}

.score-container {
    align-self: center;
    border: none;
    border-radius:45px;
    width: 32em;
    background-color: #26547C;
    color: #FFF;
    font-weight: bold;
    transition: all 0.2s ease 0s;

}

.game-end-container,
.result-container,
.score-container {
    justify-content: center;
    align-items: center;
}

.message {
    margin: 1.2em;
    padding: 1.2em;
    font-size: 1.2em;
}